.bgimg {
  background-image: url("/img/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  background-color: #eeebdd !important;
  font-family: "Cascadia", sans-serif !important;
}  

.custom-dropdown {
  max-height: 200px;  
}
.ui-autocomplete-panel {
  max-height: 200px; 
  overflow-y: auto; 
}
 